:root {
	--black: #3b434e;
	--gray-light: #ebebeb;
	--gray-dark: #6c7078;
	--gray: #a4a4a4;
	--white: #ffffff;
	--primary: #7351f5;
	--primary-hover: #5c41c9;

	--red: #fc836d;
	--red-light: #f4b6ac;

	--green: #127a4f;
	--green-light: #c8f8e4;
	--font-family: 'notoSans';
}
body {
	margin: 0;
	background: #f5f6f8;
}

* {
	box-sizing: border-box;
}
