.textArea {
	width: 100%;
	box-sizing: border-box;
	border-radius: 5px;
	color: var(--black);
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
	padding: 7px 12px 47px 12px;
	border: none;
	outline: var(--primary);
	background: var(--white);
	margin-top: 20px;
	font-family: '__Noto_Sans_80ff56', '__Noto_Sans_Fallback_80ff56';
	line-height: normal;
	font-size: 16px;
	font-weight: 400;
}
.textArea::placeholder {
	color: var(--gray);
}
.error {
	border: 1px solid var(--red);
}
.texAreaWrapper {
	position: relative;
}
.errorMessage {
	position: absolute;
	bottom: -15px;
	left: 0;
	color: var(--red);
}
